/* Estilos Galeria */

.adv-gallery {
  position: relative;
  z-index: 1;
}

.adv-gallery__grid {
  display: grid;
  gap: 2rem;
  width: calc(100% - 3rem);
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.adv-gallery__img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.adv-gallery__label {
  background-color: hsl(240, 4%, 95%);
  padding:  2rem;
}

.adv-gallery__label-line {
  display: none;
}

.adv-gallery__label-text {
  font-size: 1.375rem;
}

@media (min-width: 64rem) {
  .adv-gallery__grid {
    grid-template-columns: repeat(12, 1fr);
  }

  .adv-gallery__grid > :nth-child(1) {
    grid-column: span 5;
  }

  .adv-gallery__grid > :nth-child(2) {
    grid-column: span 7;
  }

  .adv-gallery__grid > :nth-child(3) {
    grid-column: span 9;
  }

  .adv-gallery__grid > :nth-child(4) {
    grid-column: span 3;
  }
}

@media (min-width: 85.5rem) {
  .adv-gallery__grid {
    gap: 1.5rem;
    grid-template-rows: repeat(12, 50px);
  }

  .adv-gallery__grid > :nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/7;
  }

  .adv-gallery__grid > :nth-child(2) {
    grid-column: 1/4;
    grid-row: 7/-1;
  }

  .adv-gallery__grid > :nth-child(3) {
    grid-column: 4/11;
    grid-row: 1/-1;
  }

  .adv-gallery__grid > :nth-child(4) {
    grid-column: 11/13;
    grid-row: 1/-1;
  }

  .adv-gallery__img {
    height: 100%;
  }

  .adv-gallery__label {
    display: flex;
  }

  .adv-gallery__label-inner {
    margin-top: auto;
  }

  .adv-gallery__label-line {
    display: block;
    border-left: 1px solid hsl(230, 7%, 23%);
    height: 96px;
    margin-bottom: 1.5rem;
  }
}

/* -------------------  Utilities  ---------------- */

.cd-padding-y-xl {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

/* Estilos de la galería de productos */

.product-gallery {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

div.gallery-item {
    position: relative;
    background-color: var(--bg-container);
    border-radius: var(--border-radius-large);
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 40px 40px 40px 4%;
    padding: 3rem;
    max-width: 90%;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: translateY(-10px);
    box-shadow: 10px 8px 16px rgba(128, 255, 0, 0.704);
    cursor: pointer;
}

.gallery-item:hover .camera-icon {
    display: block;
}

.gallery-item {
    display: flex;
}

.gallery-item.reverse {
    flex-direction: row-reverse;
}

.image-container {
    flex: 0 0 300px;
}

.circle-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 5px solid rgba(69, 70, 69, 0.3);
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description h3 {
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
    font-size: 2rem;
}

.gallery-item.reverse .description {
    padding-right: 3rem;
    padding-left: 2rem;
}

.gallery-item:not(.reverse) .description {
    padding-left: 2rem;
    padding-right: 3rem;
}

.camera-icon {
    display: none; /* Oculta el ícono por defecto */
    position: absolute;
    top: 0; /* Posiciona en la esquina superior derecha */
    right: 0;
    width: 50px;
    height: 50px;
    background-color:  rgba(128, 255, 0, 0.704); 
    z-index: 1;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 0 10px; /* Bordes redondeados en la esquina superior derecha */
}

.camera-icon i {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgb(88, 88, 88);
    font-size: 20px;
}

/* Estilos del carrusel */

.carousel-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.5s ease; /* Transición suave para la opacidad */
}

.carousel-container.show {
    display: flex;
    opacity: 1; /* Visible con transición suave */
}

.carousel-content {
    position: relative;
    width: 100%;
    max-width: 1400px; /* Tamaño máximo del carrusel */
    aspect-ratio: 16 / 9; /* Mantener proporción fija */
    overflow: hidden; /* Ocultar contenido desbordado */
    border-radius: 10px; /* Opcional: bordes redondeados */
    border: 10px solid rgba(0, 0, 0, 0.2); /* Borde gris claro */
}

.carousel-container.show .carousel-content {
    transform: scale(1); /* Tamaño normal con transición suave */
}

.carousel-slide {
    background-color: #333;
    overflow: hidden;
}

.carousel-slide img {
    width: 100%; /* Asegura que la imagen ocupe el ancho del contenedor */
    height: 100%; /* Asegura que la imagen ocupe la altura del contenedor */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin recortarla */
    object-position: center; /* Centra la imagen dentro del contenedor */
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 60px; /* Ajusta el ancho */
    height: 60px; /* Ajusta la altura */
    padding: 0; /* Elimina el padding */
    color: white;
    font-weight: bold;
    font-size: 30px; /* Ajusta el tamaño de la fuente */
    transition: 0.3s ease; /* Transición suave */
    user-select: none;
    transform: translateY(-50%); /* Centra verticalmente */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo inicial */
    border-radius: 50%; /* Forma circular */
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    left: 25px; /* Ajusta la distancia desde el borde izquierdo */
}

.next {
    right: 25px; /* Ajusta la distancia desde el borde derecho */
}

.prev:hover, .next:hover {
    background-color: rgba(83, 83, 83, 0.8); /* Fondo al hacer hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra al hacer hover */
    transform: translateY(-50%) scale(1.1); /* Aumenta el tamaño al hacer hover */
}

.caption-container {
    text-align: center;
    padding: 2px 16px;
    color: white;
    font-size: 20px;
}

.caption-container p {
    text-align: center;
    padding: 2px 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 1rem;
}


/* Estilos galeria estatica */

.grid-auto-xs, .grid-auto-sm, .grid-auto-md, .grid-auto-lg, .grid-auto-xl {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--col-min-width), 1fr));
}

.grid-auto-xs {
  --col-min-width: 8rem;
}

.grid-auto-sm {
  --col-min-width: 10rem;
}

.grid-auto-md {
  --col-min-width: 15rem;
}

.grid-auto-lg {
  --col-min-width: 20rem;
}

.grid-auto-xl {
  --col-min-width: 25rem;
}

/* -------------------------------- 

Utilities 

-------------------------------- */

.cd-width-100\% {
  width: 100%;
}

.cd-block {
  display: block;
}


/* Estilos del texto desplegable */

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

    h2 {
    font-size: 2.44rem;
  }

    h3 {
    font-size: 1.75rem;
  }

    h4 {
    font-size: 1.5625rem;
  }
}

/* variables */
:root {
  /* colors */
  --di8-color-primary-hsl: 250, 84%, 54%;
  --di8-color-bg-hsl: 0, 0%, 100%;
  --di8-color-contrast-high-hsl: 230, 7%, 23%;
  --di8-color-contrast-higher-hsl: 230, 13%, 9%;
  --di8-color-accent-hsl: 342, 89%, 48%;
  --di8-color-contrast-lower-hsl: 240, 4%, 85%;

  /* spacing */
  --di8-space-3xs: 0.25rem;
  --di8-space-xs: 0.5rem;
  --di8-space-md: 1.25rem;
  --di8-space-sm: 0.75rem;

  /* typography */
  --di8-text-sm: 0.833rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --di8-space-3xs: 0.375rem;
    --di8-space-xs: 0.75rem;
    --di8-space-md: 2rem;
    --di8-space-sm: 1.125rem;

    /* typography */
    --di8-text-sm: 1rem;
  }
}

/* icons */
.di8-icon {
  height: var(--di8-size, 1em);
  width: var(--di8-size, 1em);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.di8-icon--2xs {
  --di8-size: 12px;
}

/* component */
.details__summary {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.details__summary:hover {
  color: hsl(var(--di8-color-primary-hsl));
}
.details__summary:focus {
  outline: 2px solid hsla(var(--di8-color-primary-hsl), 0.2);
  outline-offset: 4px;
}
.details__summary .di8-icon {
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  flex-shrink: 0;
}

.details__summary {
  list-style: none;
}

.details__summary::-webkit-details-marker {
  display: none;
}

.details__summary[aria-expanded=true] .di8-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.details__content[aria-hidden=true] {
  display: none;
}

/* utility classes */
.di8-margin-top-xs {
  margin-top: var(--di8-space-xs);
}

.di8-text-component :where(h1, h2, h3, h4) {
  line-height: var(--di8-heading-line-height, 1.2);
  margin-top: calc(var(--di8-space-md) * var(--di8-space-multiplier, 1));
  margin-bottom: calc(var(--di8-space-sm) * var(--di8-space-multiplier, 1));
}

.di8-text-component :where(p, blockquote, ul li, ol li) {
  line-height: var(--di8-body-line-height, 1.4);
}

.di8-text-component :where(ul, ol, p, blockquote, .di8-text-component__block) {
  margin-bottom: calc(var(--di8-space-sm) * var(--di8-space-multiplier, 1));
}

.di8-text-component :where(ul, ol) {
  padding-left: 1.25em;
}

.di8-text-component ul :where(ul, ol), .di8-text-component ol :where(ul, ol) {
  padding-left: 1em;
  margin-bottom: 0;
}

.di8-text-component ul {
  list-style-type: disc;
}

.di8-text-component ol {
  list-style-type: decimal;
}

.di8-text-component img {
  display: block;
  margin: 0 auto;
}

.di8-text-component figcaption {
  margin-top: calc(var(--di8-space-xs) * var(--di8-space-multiplier, 1));
  font-size: var(--di8-text-sm);
  text-align: center;}

.di8-text-component em {
  font-style: italic;
}

.di8-text-component strong {
  font-weight: bold;
}

.di8-text-component s {
  text-decoration: line-through;
}

.di8-text-component u {
  text-decoration: underline;
}

.di8-text-component mark {
  background-color: hsla(var(--di8-color-accent-hsl), 0.2);
  color: inherit;
}

.di8-text-component blockquote {
  padding-left: 1em;
  border-left: 4px solid hsl(var(--di8-color-contrast-lower-hsl));
  font-style: italic;
}

.di8-text-component hr {
  margin: calc(var(--di8-space-md) * var(--di8-space-multiplier, 1)) auto;
  background: hsl(var(--di8-color-contrast-lower-hsl));
  height: 1px;
}

.di8-text-component > *:first-child {
  margin-top: 0;
}

.di8-text-component > *:last-child {
  margin-bottom: 0;
}

.di8-text-component.di8-line-height-xs {
  --di8-heading-line-height: 1;
  --di8-body-line-height: 1.1;
}

.di8-text-component.di8-line-height-sm {
  --di8-heading-line-height: 1.1;
  --di8-body-line-height: 1.2;
}

.di8-text-component.di8-line-height-md {
  --di8-heading-line-height: 1.15;
  --di8-body-line-height: 1.4;
}

.di8-text-component.di8-line-height-lg {
  --di8-heading-line-height: 1.22;
  --di8-body-line-height: 1.58;
}

.di8-text-component.di8-line-height-xl {
  --di8-heading-line-height: 1.3;
  --di8-body-line-height: 1.72;
}

.di8-margin-right-3xs {
  margin-right: var(--di8-space-3xs);
}

.di8-items-center {
  align-items: center;
}

.di8-flex {
  display: flex;
}

/* Eliminar marcadores de lista y ajustar márgenes/padding */
ul {
    list-style: none; /* Elimina los marcadores */
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina padding */
}

/* Ajustar imágenes para evitar espacios no deseados */
img {
    margin: 0;
    padding: 0;
    display: block; /* Asegura que no haya espacio extra */
}


/* Botones desplegables */

/* Mover el botón Regla 1 */
button[aria-controls="regla1"] {
    background-color: var(--color-primary); /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    font-size: 1.5rem; /* Cambia el tamaño de la fuente */
    border-radius: 10px; /* Cambia el borde */
    padding: 1rem 2rem; /* Ajusta el padding */
    margin-left: -500px; /* Mueve el botón 100px a la izquierda */
    transition: transform 1.5s ease; /* Transición suave para el movimiento */
}

/* Mover el texto desplegable asociado a Regla 1 */
#regla1 {
    margin-left: -500px; /* Mueve el texto 100px a la izquierda */
    transition: margin 1.6s ease; /* Transición suave para el movimiento */
}

/* Opcional: Hover para el botón */
button[aria-controls="regla1"]:hover {
    background-color: var(--color-primary-dark); /* Cambia el color de fondo al pasar el mouse */
    color: #fff; /* Cambia el color del texto */
}

/* colapse Section */

.collapse-section {
    margin: 2rem auto;
    max-width: 800px;
}

.collapse-item {
    margin-bottom: 1rem;
}

.collapse-button {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: left;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.collapse-button:hover {
    background-color: var(--color-primary-dark);
}

.collapse-content {
    padding: 1rem;
    background-color: var(--bg-container);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 0.5rem;
    display: none; /* Oculta el contenido por defecto */
}

.collapse-content.cj1-hide {
    display: none; /* Oculta el contenido cuando está colapsado */
}

.collapse-content:not(.cj1-hide) {
    display: block; /* Muestra el contenido cuando está expandido */
}

