/* Estilos del navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
    background-color: var(--color-secondary);
    backdrop-filter: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    text-align: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    gap: 0.1rem;
    margin-left: 20px;
    text-decoration: none;
    color: #2a2929;
}

.logo-img {
    height: 100px;
    width: 100px;
    transform: rotate(30deg);
    opacity: 80%;
    margin-left: -2rem;
    margin-top: 20px;
    padding: 0rem;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

/* Boton despleglable projects */

.navbar-item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 5px 15px;
    color: var(--color-text);
    background-color: transparent;
    border-radius: 0;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 500;
}

/* Asegurar que los enlaces visitados tengan el mismo color que los normales */
.navbar-item a:visited {
    color: var(--color-text);
}

.navbar-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--color-primary);
}

.fa-house, .fa-users,.fa-arrow-right-to-bracket,.fa-diagram-project,.fa-images,.fa-calendar-days,.fa-recycle, .fa-tree-city, .fa-city {
    font-size: 1.3rem;
    color: var(--color-text);
    margin-right: 10px;
}

/* Estilos para el menú desplegable del botón "Projects" */
.navbar-item.projects {
    position: relative;
}


.navbar-item.projects a {
    text-decoration: none; 
}

.navbar-item.projects:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-secondary);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 200px;
    list-style: none; 
    padding: 0; 
    margin: 0; 
    
}

.dropdown-menu li {
    margin: 0;
    padding: 0;
}

.dropdown-menu a {
    display: block;
    padding: 10px 15px;
    color: var(--color-text);
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--color-primary);
}

/* Estilos del selector de idioma */

.language-picker {
    position: relative;
    display: inline-block;
    background-color: var(--color-secondary);
    color: var(--color-text);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
  
  .language-picker__button .li4-icon {
    height: 16px;
    width: 16px;
  } 
  .language-picker__button .li4-icon:first-of-type {
    margin-right: var(--li4-space-3xs);
  }
  .language-picker__button .li4-icon:last-of-type {
    margin-left: var(--li4-space-3xs);
  }
  
  .language-picker__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 300px;
    background-color: hsl(var(--li4-color-bg-light-hsl));
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0.9px 1.5px rgba(0, 0, 0, 0.03),0 3.1px 5.5px rgba(0, 0, 0, 0.08),0 14px 25px rgba(0, 0, 0, 0.12);
    padding: var(--li4-space-3xs) 0;
    border-radius: 0.25em;
    z-index: 5;
    margin-top: var(--picker-vertical-gap);
    margin-bottom: var(--picker-vertical-gap);
    --space-unit: 1rem;
    --text-unit: 1rem;
    font-size: var(--text-unit);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s;
  }
  
  .language-picker__dropdown--right {
    right: 0;
    left: auto;
  }
  
  .language-picker__dropdown--up {
    bottom: 100%;
    top: auto;
  }
  
  .language-picker__button[aria-expanded=true] + .language-picker__dropdown {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.2s;
  }
  
  .language-picker__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: var(--li4-space-2xs) var(--li4-space-sm);
    color: hsl(var(--li4-color-contrast-high-hsl));
    transition: background 0.2s;
  }
  .language-picker__item span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .language-picker__item:hover {
    background-color: hsla(var(--li4-color-contrast-higher-hsl), 0.075);
  }
  .language-picker__item:focus {
    outline: none;
    background-color: hsla(var(--li4-color-primary-hsl), 0.1);
  }
  .language-picker__item[aria-selected=true] {
    position: relative;
    background-color: hsl(var(--li4-color-primary-hsl));
    color: hsl(var(--li4-color-white-hsl));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .language-picker__item[aria-selected=true]:focus {
    outline: 2px solid hsla(var(--li4-color-primary-hsl), 0.2);
  }
  .language-picker__item[aria-selected=true]::after {
    content: "";
    height: 16px;
    width: 16px;
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline stroke-width='2' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round' points='1,9 5,13 15,3 '/%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline stroke-width='2' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round' points='1,9 5,13 15,3 '/%3E%3C/svg%3E");
    margin-left: auto;
  }
  
  .language-picker__flag {
    display: flex;
    align-items: center;
  }
  .language-picker__flag::before {
    display: none;
    flex-shrink: 0;
    content: "";
    height: 16px;
    width: 16px;
    margin-right: var(--li4-space-2xs);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .language-picker__dropdown .language-picker__flag::before {
    margin-right: var(--li4-space-xs);
  }
  
  .language-picker--flags .language-picker__flag::before {
    display: inline-block;
    display: inline-flex;
  }
  .language-picker--flags .language-picker__button .li4-icon:first-of-type {
    display: none;
  }
  
  .language-picker__flag--deutsch::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath d='M48,18H0V8c0-1.105,0.895-2,2-2h44c1.105,0,2,0.895,2,2V18z'/%3E%3Crect y='18' fill='%23EE0000' width='48' height='12'/%3E%3Cpath fill='%23FDCF00' d='M48,40c0,1.105-0.895,2-2,2H2c-1.105,0-2-0.895-2-2V30h48V40z'/%3E%3C/svg%3E");
  }
  
  .language-picker__flag--english::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23002781' d='M46,6H2C0.896,6,0,6.896,0,8v32c0,1.104,0.896,2,2,2h44c1.104,0,2-0.896,2-2V8C48,6.896,47.104,6,46,6z'/%3E%3Cpath fill='%23E6E6E6' d='M48,8c0-1.104-0.896-2-2-2h-5.161L28,15.876V6h-8v9.876L7.161,6H2C0.896,6,0,6.896,0,8v2.586L12.239,20H0v8 h12.239L0,37.415V40c0,1.104,0.896,2,2,2h5.161L20,32.124V42h8v-9.876L40.839,42H46c1.104,0,2-0.896,2-2v-2.585L35.761,28H48v-8 H35.761L48,10.586V8z'/%3E%3Cpolygon fill='%23D10D24' points='48,22 26,22 26,6 22,6 22,22 0,22 0,26 22,26 22,42 26,42 26,26 48,26 '/%3E%3Cpath fill='%23D10D24' d='M47.001,6.307L29.2,20h3.28L48,8.062V8C48,7.268,47.587,6.656,47.001,6.307z'/%3E%3Cpath fill='%23D10D24' d='M32.48,28H29.2l17.801,13.693C47.587,41.344,48,40.732,48,40v-0.062L32.48,28z'/%3E%3Cpath fill='%23D10D24' d='M15.52,28L0,39.938V40c0,0.732,0.413,1.344,0.999,1.693L18.8,28H15.52z'/%3E%3Cpath fill='%23D10D24' d='M15.52,20h3.28L0.999,6.307C0.413,6.656,0,7.268,0,8v0.062L15.52,20z'/%3E%3C/svg%3E");
  }
  
  .language-picker__flag--francais::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%2301209F' d='M16,42H2c-1.105,0-2-0.895-2-2V8c0-1.105,0.895-2,2-2h14V42z'/%3E%3Cpath fill='%23EF4234' d='M48,40c0,1.105-0.895,2-2,2H32V6h14c1.105,0,2,0.895,2,2V40z'/%3E%3Crect x='16' y='6' fill='%23E6E6E6' width='16' height='36'/%3E%3C/svg%3E");
  }
  
  .language-picker__flag--italiano::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23009345' d='M16,42H2c-1.105,0-2-0.895-2-2V8c0-1.105,0.895-2,2-2h14V42z'/%3E%3Cpath fill='%23CF2B36' d='M48,40c0,1.105-0.895,2-2,2H32V6h14c1.105,0,2,0.895,2,2V40z'/%3E%3Crect x='16' y='6' fill='%23E6E6E6' width='16' height='36'/%3E%3C/svg%3E");
  }
  
  .language-picker--hide-label .language-picker__button .li4-icon {
    margin-left: 0;
  }
  .language-picker--hide-label .language-picker__button .li4-icon:first-of-type {
    display: none;
  }
  .language-picker--hide-label .language-picker__button em {
    display: none;
  }
  .language-picker--hide-label .language-picker__button .language-picker__flag::before {
    margin-right: var(--li4-space-3xs);
  }
  
  .language-picker--hide-label .language-picker__flag::before {
    display: inline-block;
    display: inline-flex;
  }