<footer class="footer">
    <div class="footer-content">
        <div class="social-links">
            <a href="https://www.facebook.com/udrugavestigium" class="social-icon">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/vestigiumudruga/" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="mailto:udruga.vestigium@gmail.com?subject=Your Request&." class="social-icon">
                <i class="far fa-envelope"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
    </div>
    <section>
    </section>
    <div class="footer-bottom">
        <p class="p-footer">&copy; <span id="current-year">2024</span> Vestigium. All rights reserved.</p>
        <button class="button-designed-by">
            <span>Designed By ASDesign</span>
          </button>
    </div>
</footer>