<nav class="navbar">
    <a href="/index.html" class="navbar-logo">
     Vestigium
     <img src="/assets/img/shared/logo-png.png" alt="Vestigium Logo" class="logo-img">
    </a>
    <div class="navbar-links">
        <a href="/pages/comunity-center.html" class="navbar-item"><i class="fa-solid fa-house"></i>Community Center</a>
        <a href="/pages/about-us.html" class="navbar-item"><i class="fa-solid fa-users"></i>About Us</a>
        <a href="/pages/join-us.html" class="navbar-item"><i class="fa-solid fa-arrow-right-to-bracket"></i>Join Us!</a>
        <li class="navbar-item projects">
            <a href="/pages/projects.html"><i class="fa-solid fa-diagram-project"></i>Projects</a>
            <ul class="dropdown-menu">
                 <li><a href="/pages/actual-projects.html">Actual Projects</a></li>
                <li><a href="/pages/finished-projects.html">Finished Projects</a></li>
                <li><a href="/pages/urban-communities.html">Urban Communities</a></li>
                <li><a href="/pages/erasmus.html">Erasmus+</a></li>
            </ul>
        </li>
        <a href="/pages/gallery.html" class="navbar-item"><i class="fa-solid fa-images"></i>Gallery</a>
        <a href="/pages/calendar.html" class="navbar-item"><i class="fa-solid fa-calendar-days"></i>Calendar</a>
        <a href="/pages/value-of-waste.html" class="navbar-item"><i class="fa-solid fa-recycle"></i>Value of Waste</a>
        <a href="/pages/urban-communities.html" class="navbar-item"><i class="fa-solid fa-city"></i>Urban Communities</a>
    </div>
    <div class="language-picker js-language-picker" data-trigger-class="li4-btn li4-btn--subtle js-tab-focus">
        <form action="" class="language-picker__form">
          <label for="language-picker-select">Language</label>
          <select name="language-picker-select" id="language-picker-select">
            <option lang="en" value="english" selected>English</option>
            <option lang="hr" value="hrvatski">Hrvatski</option>
          </select>
        </form>
    </div>
</nav>